html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--------Utility Class--------*/
.container{
  margin:auto;
  padding:40px;

}


body{ 
  background-color: #212842;  
  font-family: "Oswald", sans-serif;
    color:#F6E9d9;
    width: 90vw;
    margin:40px auto;
    border: 6px double #F6E9D9;
    max-width:980px;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23f6e9d9' fill-opacity='0.31'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");


  
.container{
  margin: auto;
  padding: 40px;
  background-color: #212842;
}

h1{
  text-align: center;
}



a{
color:#F6E9d9;
text-decoration: none;

}

nav ul li{
padding:5px;
}

li::marker {
  content: "\2605";  /*Star unicode- ::marker is a psuedo-element that selects the marker box of a list item like bullets points or numbers and this element only works on li and summary items  */
  color:#F6E9D9; 
}
