html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--------Utility Class--------*/
.container{
  margin:auto;
  padding:40px;

}

body{ 
  background-color: #48182F;  
  font-family: "Oswald", sans-serif;
}

main{
    background-color:#D4CBC4;
    /* text-align:center; */
    width: 90vw;
    margin:40px auto;
    border: 6px double #48182F;
    max-width:980px;
    /*border-radius: 20px;*/
}

header.primary{
padding:20px;
background-image:url("../img/bg_1.webp"); /*Linking images within file system*/
background-repeat: no-repeat;
background-size:cover;
background-position: center;
border:3px solid #48182F;
display:flex;
justify-content: space-between;
}

div.hgroup h1 a{
  color:#D4CBC4;
  text-decoration: none;
  font-size:2.5rem;
  text-shadow:

}

div.hgroup h2{

  color:#D4CBC4;
}

div.hgroup{
  width:70%;

}

header.primary nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

header.primary nav ul li a{
  color:#D4CBC4;
  display:block;
  margin-bottom: 10px;
  background: #48182F;
  border: 1px dashed #D4CBC4;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: .9rem;
  text-decoration: none;
  transition:.5s;
}

header.primary nav ul li a:hover{
  text-decoration: underline;
  text-shadow:.5px .5px #D4CBC4;
}


header.primary nav{
  width:30%;

}


#content{
  line-height: 1.5rem;
}

#content h2,h3{
  color:#48182F;
  border-left:#48182F 7px solid;
  padding-left:5px;
}


