
    /*  ---------------Box Sizing-----------------  */
    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

   /* custom css properties */
    :root{
       --primary-color: #555931;
       --secondary-color:#F2E8DC;
       --detail-color-1:#590E15;
       --detail-color-2:#BC2328;
       --detail-color-3:#ABB18F;

    }
   

    main>* {
      font-family: "courier-prime", monospace;
      font-weight: 400;
      font-style: normal;
      margin: 0;
      padding: 0;
      
    }

    body{
      background-color: var(--secondary-color);
      margin:0px;
    }

    header.primary{
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: var(--detail-color-1);
    color:var(--secondary-color);
   }

   a{
     text-decoration: none;
     color:var(--secondary-color);
  }

  nav{
    padding:1px;
  }

   nav li{
    list-style-type: none;
   }

   nav ul{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 10px 10px;
   }
  
nav a:link, nav a:visited {
  display: block;
  padding: 5px 10px;
  border: 1px solid ;
  text-align: center;
  color: var(--secondary-color);
  background:var(--detail-color-3)(0, 0, 0, 0.65);
  transition: background-color 0.5s ease;
  color: #ffffff;
}


