/* 
    /*  ---------------Box Sizing-----------------  */
    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

   /* custom css properties */
    :root{
       --primary-color: #555931;
       --secondary-color:#F2EFE9;
       --detail-color-1:#590E15;
       --detail-color-2:#BC2328;
       --detail-color-3:#ABB18F;

    }
   

    main>* {
    font-family: "clother", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
      
    }

  body{
      background-color: var(--secondary-color);
      margin:20px;
    }

    header.primary{
    display:flex;
    justify-content: right;
    height:350px;
    width:350px; 
    width: 100%;
    background-color: var(--detail-color-1);
    color:var(--secondary-color);
   }

  img{
    display:flex;
    justify-content: center;
    height:350px;
    width:350px; 

  }

   a{
     text-decoration: none;
     color:var(--secondary-color);
  }

  nav{
    padding:1px;
  }

   nav li{
    list-style-type: none;
   }

   nav ul{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px 10px 10px 10px;
    
   }
  
nav a:link, nav a:visited {
  display: block;
  padding: 5px 10px;
  border: 4px double  ;
  text-align: center;
  color: var(--secondary-color);
  background: var(--primary-color);
  transition: var(--detail-color-3) 0.5s ease;
}


a.sources{
  color:black;
} 
   
